.messages__box
  .messages__box__message
    %span.messages__box__message__name= current_user.name
    %span.messages__box__message__time 2019/01/01(Mon) 12:00:00
    .messages__box__message__text  texttexttext