%header notice
%div.left-contents
  %div.left-contents__header
    %h1.left-contents__header__user-name user
    %li.left-contents__header--cog=fa_icon "cog"
    %li.left-contents__header--edit=fa_icon "edit"
  %li.left-contents__group group
  %li.left-contents__message message