.wrapper
  = render partial: "shared/side_bar"
  .messages
    .messages__header
      %h1.messages__header__group-name
        = @group.name
      %li.messages__header__members Member : user1 user2
      = link_to edit_group_path(@group) do
        .messages__header__edit Edit
    = render partial: "message"

    -# .message-form
    -#   = form_for [@group, @message] do |f|
    -#     %f.text_field :text, placeholder: 'type a message', class: 'message-form__input'
    -#     .form__mask
    -#       = f.label :image, class: 'form__mask__image' do
    -#         = fa_icon 'picture-o', class: 'icon'
    -#         = f.file_field :image, class: 'hidden'
    -#     = f.submit 'Send', class: 'form__submit'


        %input#message-form__file{type: 'file'}
        %label{for: 'message-form__file'}
          %li.fa.fa-image.fa-lg
      =link_to method: :post do
        .message-form__send Send