.side-bar{
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  color: #ffffff;
  float: left;
  &__header{
    height: $header_height;
    background-color: #253142;
    @include clearfix();
    &__user-name{
      font-size: 16px;
      margin: 0 20px;
      line-height: $header_height;
      float: left;
    }
    &__pencil{
      position: absolute;
      left: 250px;
      float: right;
    }
    &__cog{
      position: absolute;
      left: 270px;
      float: right;
    }
  }
  .side-bar__group{
    margin: 20px 20px 40px;
    color: #fff;
    &__name{
      font-size: 15px;
      }
    &__message{
      font-size: 11px;
      margin: 5px 0 0 0;  
    }
  }
}
.icon{
  color: white;
  position: absolute;
  float: right;
  top: 40px; 
}