@import "./reset";
@import "font-awesome";

html,body{
  height: 100%;
}

li{
  list-style: none;
}
header{
  height: 25px;
  background-color: #38AEF0;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

.left-contents{
  height: 100%;
  width: 300px;
  background-color: #2f3e51;
  color: #ffffff;
  &__header{
    height: 90px;
    background-color: #253142;
    &__user-name{
      font-size: 16px;
      margin: 0 20px;
      line-height: 90px;
      float: left;
    }
    &--cog{
      line-height: 90px;
      float: right;
      margin: 0 20px 0 5px;
    }
    &--edit{
      line-height: 90px;
      float: right;
    }
  }
  .left-contents__group{
  font-size: 15px;
  margin: 20px 20px 0px 20px;  
  }
  .left-contents__message{
    font-size: 11px;
    margin: 5px 20px 20px 20px;  
  }
}