$header_height:100px;
$light_blue:#38AEF0;

@import "./reset";
@import "font-awesome";
@import "./clearfix";
@import "./side-bar";
@import "./message.scss";

html,body{
  height: 100%;
}

li{
  list-style: none;
}

header{
  height: 25px;
  background-color: $light_blue;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

